body {
font-family: "Segoe UI", sans-serif;
background-color: #f5f9fc;
color: #333;
}

#navbar {
position: fixed;
width: 100%;
background-color: #3a7ca5;
color: white;
padding: 10px 0;
z-index: 100;
display: flex;
justify-content: space-around;
align-items: center;
}

#hero {
text-align: center;
background: #c8e8f3;
color: #2b6777;
padding: 140px 20px 80px;
margin-top: -10px;
/* change 60px to -10px  */
position: relative;
z-index: 1;
}
#hero h1 {
font-size: 3rem;
margin-bottom: 10px;
}
#hero p {
font-size: 1.2rem;
}

.section {
margin: 60px auto;
width: 80%;
max-width: 900px;
color: black;
padding: 30px;
border-radius: 12px;
box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
/* add px infront of 0 */
/* remove space */
position: relative;
}

.parent-box {
  /* add semicolon */
position: relative;
background-color: #d8efff;
padding: 30px;
margin-top: 25px;
border-radius: 8px;
}

.child-box {
position: absolute;
top: 10px;
right: 20px;
background-color: #9cd0ff;
padding: 10png;
border-radius: 6px;
/* miss spell width (with to width) */
width: 45%;
/* add px to 0 */
box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.sticky-title {
position: sticky;
top: 70px;
background-color: #3a7ca5;
color: white;
/* change colour to color */
padding: 10px;
border-radius: 8px;
z-index: 5;
}

.info-box {
/* add # to color */
background-color: #f0f9ff;
border-left: 6px solid #3a7ca5;
padding: 15px;
margin-top: 20px;
border-radius: 8px;
}

.fact-card {

background-color: #e3f8e0;
border: 2px solid #6fc276;
padding: 15px;
border-radius: 8px;
text-align: center;
position: relative;
margin-top: 10px;
}

#footer {
background-color: #3a7ca5;
color: white;
text-align: center;
padding: 20px;
position: relative;
z-index 10;
