body { 
font-family: "Segoe UI", sans-serif; 
background-color: #f5f9fc; 
color: #333;

} 
#navbar { 
position: fixed; 
width: 100%;
background-color: #3a7ca5; 
color: white; 
padding: 10px 0;
z-index: 100; 
display: flex; 
justify-content: space-around; 
align-items: center;

}
#hero { 
text-align: center; 
background-color: #c8e8f3; 
/*change background to background-color because it's more specific and avoids potential conflicts*/
color: #2b6777; 
padding: 140px 20px 80px; 
margin-top:-10px;
/* change 60px to -10px because the top space is removed*/ 
position: relative; 
z-index: 1; 
} 
#hero h1 { 
font-size: 3rem; 
margin-bottom: 10px; 
} 
#hero p { 
font-size: 1.2rem; 
} 
.section { 
margin: 60px auto; 
width: 80%; 
max-width: 900px; 
color: black; 
/* change color white to black because white is not visible on light background */
padding: 30px; 
border-radius: 12px; 
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
position: relative; 
} 
.parent-box { 
position: relative;
/*add semicolon to the end of the line because it is the symbol use to separate each property in css */
background-color: #d8efff; 
padding: 30px; 
margin-top: 25px; 
border-radius: 8px; 
} 
.child-box { 
position: absolute; 
top: 10px; 
right: 20px; 
background-color: #9cd0ff; 
padding: 10px; 
/*change png to px because it is the correct short term for pixel*/
border-radius: 6px; 
width: 45%; 
/*change with to width because it is the correct spelling for width*/
box-shadow: 0 2px 6px rgba(0,0,0,0.15); 
} 
.sticky-title { 
position: sticky; 
top: 70px; 
background-color: #3a7ca5; 
color: white; 
/*change colour to color because color is the right spelling of color in css*/
padding: 10px; 
border-radius: 8px; 
z-index: 5; 
} 
.info-box { 
background-color: #f0f9ff;
/* add hashtag to f0f9ff because color codes is required to start with # */
border-left: 6px solid #3a7ca5; 
padding: 15px; 
margin-top: 20px; 
border-radius: 8px; 
} 
.fact-card {
  /*change # to . to target fact-card because the class element use dot to target*/
background-color: #e3f8e0; 
border: 2px solid #6fc276; 
padding: 15px; 
border-radius: 8px; 
text-align: center; 
position: relative; 
margin-top: 10px; 
} 
#footer { 
background-color: #3a7ca5; 
color: white; 
text-align: center; 
padding: 20px; 
position: relative; 
z-index: 10; 
/*add colon to z-index because it is required to seperate each the property and the value by a colon*/
}
/*add closing curly brace to end the footer style*/
