/* body {
  background-color: beige;
}
h1 {
  color: SlateBlue;
  font-size: 1rem;
  text-deoration: underline;
}
*/
/* .name{
  color: palevioletred;
}
.question{
  border-style: dashed;
  border: 5px;
  border-color: FF1A76;
  color: blueviolet;
} */
/* h1{
text-align: center;
}

#header{
background-color: #7b9e89;
color: #020122;
width: 80%;
height: 30px;
text-align: center;
margin: auto;
padding: 30px;
border-radius: 35px;
}
#header p, h2{
display: inline;
}
#parent {
margin: 5% auto;
width: 80%;
height: 550px;
background-color: #fc9e4f;
color: #020122;
border-radius: 70px;
}
#parent p, h3{
padding: 3%;
font-size: 1.25rem;
}
#child{

width: 75%;
height: 350px;
background-color: #f4442e;
color: #020122;
}
#child p, h3{
padding: 3%;
font-size: 1.25rem;
  #fixed{
width: 30%;
height: auto;
border-radius: 55px;
background-color: #fc9e4f;
color: #020122;
}
  #fixed p{
display: inline;
padding: 5%;
}
  #relative{
width: 60%;
height: 350px;
background-color: #edd382;
color: #020122;
}
  #relative p, h3{
padding: 3%;
font-size: 1.25rem;
} */

body {
  background-color: #222222;
  color: white;
}

.question {
  border-style: dotted;
  border-width: 4px;
  border-color: red;
  background-color: blue;
  color: white;
  font-size: 14px;
  margin: 10%;
  padding: 15px;
  border-radius: 5px;
}

.question p {
  font-size: 14px;
  font-style: italic;
  color: lightgreen;
}
