body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d");
  background-size: cover;
  background-position: center;
  padding: 120px 20px;
}

.hero-btn {
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: black;
  color: white;
}

.fixed-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
}
